################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ReactiveUI.TransitioningContentControBug.WPF/bin/Debug
/ReactiveUI.TransitioningContentControBug.WPF/.vs/ReactiveUI.TransitioningContentControBug.WPF/v16
/ReactiveUI.TransitioningContentControBug.WPF/packages
/ReactiveUI.TransitioningContentControBug.WPF/obj/Debug
/ReactiveUI.TransitioningContentControBug.WPF/Properties
/.vs
